<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>BUG TRACKING SYSTEM</title>
</head>



<body>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">BTS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/bts">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/contact">Contact Us</a>
                </li>


                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome {{request.user}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/handlelogout">Log Out</a>
                    
                    </div>
                </li>
                {%else %}
                <li class="nav-item ">
                    <a class="nav-link " href="/loginpage">Login</a>
                </li>
                {% endif %}

            </ul>
    </nav>


    <div class="row">
        <div class="col-sm-4 offset-2">
            <h4 class="alert alert-info">Update Bug Detail</h4>
            <form action="" method="POST">
                {%csrf_token%}
                <!--  {{form.as_p}}-->




                {% for message in messages %}
                <div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
                    <strong>Message: </strong> {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times</span></button>
                </div>
                {% endfor %}

                <div class='container'>
                    <div class="col-md-6">
                        <label for="inputBugName" class="form-label">Bug Name</label>
                        <input type="text" class="form-control" id="bugname" name="bugname">
                    </div>
                    <div class="col-md-6">
                        <label for="inputBugDate" class="form-label">Bug Date</label>
                        <input type="date" class="form-control" id="bugdate" name="bugdate">
                    </div>
                    <div class="col-12">
                        <label for="inputPriority" class="form-label">Bug Priority</label>
                        <input type="text" class="form-control" id="bugpriority" name="bugpriority">
                    </div>                   
                    <div class="col-12">
                        <label for="inputProjectName" class="form-label">Project Name</label>
                        <input type="text" class="form-control" id="projectname" name="projectname" >
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Full Description</label>
                        <textarea class="form-control" name="content" id="content" name="content" rows="3"></textarea>
                    </div>
                    <input type="submit" class="btn btn-success" value="Update">
            </form>
        </div>




        {% if show %}

        <div class="col">
            <h2>Bug Detail</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Bug Name</th>
                        <th scope="col">Bug Priority</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Report Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{show.sno}}</th>
                        <td>{{show.bugname}}</td>
                        <td>{{show.bugpriority}}</td>
                        <td>{{show.projectname}}</td>
                        <td>{{show.bugdate}}</td>
                        <td>
                            <form action="{% url 'updatebug' show.sno %}" method='POST' class='d-inline'>
                                {%csrf_token%}
                                <input type="submit" class='btn btn-warning' value='Edit'>
                            </form>
                            <form action="{% url 'bugdetail' show.sno %}" method='POST' class='d-inline'>
                                {%csrf_token%}
                                <input type="submit" class='btn btn-danger' value='Delete'>
                            </form>
                        </td>
                    </tr>
                </tbody>
           </table>
            <h3>Description</h3>
            {{show.content}}
          </div>

     <div>

            {% else %}
            {% endif %}

 


            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
</body>

</html>